<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.management.dao.TableDao">

    <select id="propertyList" parameterType="java.lang.Long" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
          p.*
        FROM bdms_property p
        WHERE p.OBJECT_ID = #{objectId}
    </select>

    <select id="getObject" parameterType="java.lang.Long" resultType="java.lang.String">
        SELECT
            o.NAME
        FROM
            bdms_object o
        WHERE o.OBJECT_ID = #{objectId}
    </select>

    <select id="dataList" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
          *
        FROM  ${name}
        WHERE DELETE_FLAG = 'N'
        LIMIT ${pageNum}, ${pageRow}
    </select>

    <update id="updateDetail" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE article
        SET
        content = #{content}
        WHERE id = #{id}
    </update>
</mapper>